#vg-navbar{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 50px 0px;
  background-color: var(--back-color);
  border-radius: 10px;
  border: 2px solid black;
  font-size: 4em;
  font-weight: bold;
  place-items: center center;
}
a{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  place-items: center center;
}
#clientid:hover, #tikid:hover{
  color:var(--vogel-red);
}
#clientid, #tikid{
  color:var(--vogel-blue);
}