/* Nav Bar */
#wo-save{
    position: absolute;
    height: 25px;
    width: 25px;
}
#button-open-presentation{
    position: absolute;
    top: 235px;
    height: 25px;
    width: 25px;
}
#wo-selector-info{
    float: right;
    margin-right: 25px;
}
#vg-info-popup-box{
    position: fixed;
    display: none;
    top: 25%;
    left: 10%;
    width: 80%;
    background-color: var(--back-color);
    border-radius: 10px;
    border: 5px solid var(--vogel-red);

}
[id*="wo-info-guide-"]{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: start;
    align-items: center;
    padding: 5px;
}
#wo-selector-info:hover + #vg-info-popup-box{
    display:grid;
}

/* WO List */
#vg-wo-dash{
    border-top: 1px solid black;
}
#vg-wo-dash-header{
    background-color: black;
    color: white;
    padding-left: 10px;
}
#vg-wo-list{
    padding: 3px 0 5px 10px;
    overflow: auto;
    max-height: 100px;
}
#vg-wo-list>div{
    padding: 3px 0px;
}
#vg-wo-list>div:nth-child(even){
    background-color: var(--row-color);
}
.vg-wo-item, #vg-wo-dash-header{
    display: grid;
    grid-template-columns: 150px repeat(2, 1fr);
}


        /* Setup Side Styling */
        #wo-setup-cont{
            display:flex;
            height: 100%;
            flex-direction: column;
        }

        .client-label{
          grid-column:1;
          min-width: 84px;
      }
      .client-input{grid-column:2 / span 3;}

      #flatrate-special-repairs{
          grid-column: 3 / span all;
          display: flex;
          align-items: center;
      }
      .flatrate-special-repair-buttons{
          border: 1px solid black;
          border-radius: 5px;
          padding: 1px 5px 1px 5px;
          cursor: pointer;
          margin-right: 15px;
          background-color: rgb(220,220,220);
      }
      .wo-sys-button{
          cursor: pointer;
      }
      #wo-sys-list{
          flex: 0 0 auto;
      }
      #wo-setup-repair{
            flex: 2 0 auto;
            margin-left: 5px;
        }
      .wo-sys-tagid {
          grid-column: 2 / span 1;
          border:0px;
          font-size: 1.2em;
          font-weight: bold;
          background-color: transparent;
      }
      .wo-sys-repair {
          display:grid;
          grid-template-columns: 25px 100px 1fr 50px;
          align-items: center;
          padding: 5px 0px;
      }
      .wo-sys-area {
          grid-column: 3 / span 1;
      }
      .wo-sys-selected {
          border: 2px solid var(--vogel-red);
      }
      .wo-sys-selected>.wo-sys-tagid{
          color: var(--vogel-red);
      }
      .wo-sys-select-icon{
        width:20px;
        height:20px;
      }
      .wo-sys-repairs {
          grid-column: 1 / span all;
      }
      .wo-sys-repairs>div:nth-child(even){
          background-color: var(--row-color);
      }
      #wo-flatrate-cont {
        flex: 1 1 auto;
        display:flex;

        flex-direction: column;
        margin-left: 20px;
    }
      #flatrate-search-table-cont {
        flex: 1 1 auto;
        max-height: 350px;
        overflow-y: auto;
        }
      #flatrate-search-table{
          width: 100%;
      }
      #flatrate-search-table tr{
          display:grid;
          grid-template-columns: 100px 1fr 50px;
          cursor: pointer;
          padding: 5px 0px;
      }
      #flatrate-search-table tr:nth-child(even){
          background-color: var(--row-color);
      }
      #flatrate-search-table tr>td:last-child{
          text-align: right;
      }
      #flatrate-search-table tr>td:last-child::before{
          content: "$";
          vertical-align: super;
          font-size: .5em;
      }


      /* Presentation Styling */
      #wo-presentation-cont{
          position: relative;
          height: 100%;
      }
      #wo-presentation-cont input {
          padding: 0px;
          margin: 0px;
          border: none;
      }
      #wo-present-repair-cont>:nth-last-child(3){
          font-weight: bold;
      }
      #wo-present-repair-cont>:nth-last-child(2){
          font-style: oblique;
      }
      #wo-present-repair-cont>:last-child{
          font-weight: bold;
      }
      #wo-presentation-header {
          grid-column: -1 / 4;
          text-align:right;
          font-size: x-large;
          font-weight:bold;
      }
      #header-logo{
          max-width: 250px;
          grid-column: 1 / span 3;
          margin-bottom:10px;
      }
      #present-contract-name, #wo-present-membership {
          width: 100%;
          text-align: center;
          font-size: larger;
          font-weight: bolder;
          border: 0px;
          border-bottom: 1px solid var(--contract-color);
          color: var(--contract-color);
          background-color: transparent;
      }
      #wo-present-membership{
          grid-column:3;
        }
      #wo-present-contract-monthly{
          grid-column:3;
      }
      [id*="present-contract-add"]::before{
          content:"$";
      }
      #present-contract-monthly::before{
          content:"$";
      }
      #monthly-tag{
          font-weight: bold;
      }
      #enhance-tag{
          padding-left: 15px;
          padding-top: 10px;
          border-bottom: 1px solid var(--contract-color);
          font-style:italic;
          font-weight: bold;
          color: var(--contract-color);
      }
      .present-contract-opt {
          display: grid;
          grid-template-columns: 1fr 40px 40px;
          column-gap: 10px;
          text-align: right;
          padding: 2.5px 15px;
      }
      .present-contract-opt>:nth-child(2){
          text-align: center;
          place-self: center stretch;
      }
      #wo-contract-appr{
        place-self: center center;
      }
      #wo-present-headers{
          font-weight:bold;
          padding-bottom:5px;
          border-bottom: 1px solid black;
      }
      #wo-present-headers, .wo-present-repair{
          display:grid;
          grid-template-columns: 40% 15% 15% 15% 1fr;
          column-gap: 5px;
          padding:5px;
          justify-items: center;
          text-align: center;
      }
      .wo-present-repair>:nth-child(-n+4)::before{
          content:"$";
      }
      .wo-present-repair>:nth-child(1)::before{
          content:"";
      }
      .wo-present-repair-unapproved div{
          color: gray;
      }
      .wo-present-repair-unapproved div:first-child{
          text-decoration: line-through;
      }
      .wo-present-repair-unapproved div:last-child{
          font-style: oblique;
      }
      .wo-present-system{
          margin-bottom: 10px;
          border-bottom: 1px solid black;
      }
      .wo-present-system >:nth-child(1){
          font-weight:bold;
      }
      .wo-present-system-repairs>:nth-child(odd){
          background-color: var(--row-color);
      }

          #wo-present-memprice-today{
            color: var(--member-price)
        }



/* Video Stuff */
#membership-link{
    grid-column: 4 / 7;
    background-color: var(--vogel-red);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
#membership-link:before{
    content:"";
}
#membership-link:hover{
    opacity: .5;
    cursor: pointer;
}
#video-option-buttons{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50px);
}
#video-option-buttons>div, #video-option-buttons>a {
  border-top:1px solid black;
  border-right:1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}
#video-option-buttons>div:hover, #video-option-buttons>a:hover{
  background-color: var(--vogel-blue);
  color: white;
}
#video-option-buttons div:last-child{
  border-right:0px;
}
#video-membership{
    grid-column: 1 / span all;
    border-right: 0 !important;
}
