.vg-checkbox{
    border: 1px solid black;
    height: 10px;
    width: 10px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
}
.vg-checkbox-checked{
  background-color: white;
}
.vg-checkbox-checked::after{
  content: "\2713";
  position: relative;
  font-weight:bold;
  top:-10px;
}
