.checklist-cont{
    margin: 5px;
    padding: 5px;
    border: 2px solid red;
}

.checklist-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section-header{
    font-weight: bold;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.section-cont{
    margin-left: 10px;
}
.section-cont>div>.section-cont>div>.section-cont{
    display: grid;
    row-gap: 5px;
    column-gap: 20px;
    padding-top: 5px;
}
@media only screen and (min-width: 768px) {
    .section-cont>div>.section-cont>div>.section-cont{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width: 1024px) {
    .section-cont>div>.section-cont>div>.section-cont{
        grid-template-columns: repeat(2, 1fr);
    }
}