#vg-wo-dash{
  display: none;
}
.techwo-row{
  display:grid;
  grid-template-columns:10% 15% 45% 25% 5%;
  border-bottom: 1px solid black;
  height: 125px;
}
.techwo-row:nth-child(even){
  background-color: var(--background-light);
}
.techwo-row-date,
.techwo-row-contact,
.techwo-row-descr,
.techwo-row-address{
  padding: 3px;
  overflow: hidden;
  max-height: 120px;
}
.techwo-row-date{
  max-width:75px;
  text-align: center;
}
.techwo-row-contact{
  text-align: center;
}
.techwo-row-descr{
  min-width:350px;
}

.techwo-row-actions{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  max-height: 100px;
}
.techwo-row-actions>div{
  display: flex;
  align-content: center;
  justify-content: center;
}
.techwo-row-actions>div:hover{
  cursor:pointer;
}
.techwo-row-actions>div:nth-child(1){
  background-color: var(--excluded-border);
}
.techwo-row-actions>div:nth-child(2){
  background-color: var(--included-border);
}
.techwo-row-actions img{
  width: 45px;
  filter: invert();
  padding:5px;
}
