/* WO List */
#vg-wo-dash{
    display: none;
}
#vg-wo-dash-header{
    background-color: black;
    color: white;
    padding-left: 10px;
}
#vg-wo-list{
    padding: 3px 0 5px 10px;
    overflow: auto;
}
#vg-wo-list>div{
    padding: 3px 0px;
}
#vg-wo-list>div:nth-child(even){
    background-color: var(--row-color);
}
.vg-wo-item, #vg-wo-dash-header{
    display: grid;
    grid-template-columns: 150px repeat(2, 1fr);
}

/* App Dock */
#vhc-app-dock{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    display: grid;
}
.vhc-app{
    background-color: var(--background-base);
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    min-width: 125px;
    height: 125px;
    margin: auto;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 5px black);
}
.vhc-app>img{
    width: 65%;
    padding: 5px;
}
.vhc-app:hover{
    cursor: pointer;
}

/* WO PopUp */
.openwo-header{
    background-color: var(--BEE-blue);
    color: var(--text-light);
    width:100%;
    text-align: center;
}
[class*='openwo-area-']{
    display: grid;
    grid-template-columns: repeat(2, 125px);
    row-gap: 5px;
    padding: 5px;
}
.openwo-buttons{
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
    #vhc-app-dock{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 1024px) {
    #vhc-app-dock{
        grid-template-columns: repeat(4, 1fr);
    }
}