body{
    font-size: .75em;
}
.summary-header{
    text-align: center;
}
.wo_street,
.wo_cityzip{
    font-weight: bold;
    font-size: 1.5em;
}
#header-logo{
    width: 100%;
    padding: 20px
}
#title-header{
    font-weight: bold;
    font-size: 3em;
    color: var(--vogel-blue);
}
.summary-body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
[class*='summary-section-']{
    border: 1px solid black;
}
[class*="section-header-"]{
    color: var(--text-light);
    text-align: center;
}
.section-header-sys{
    background-color: var(--BCE-green);
}
.section-header-air{
    background-color: rgb(175, 10, 175);
}
.section-header-cool{
    background-color: var(--vogel-blue);
}
.section-header-heat{
    background-color: var(--vogel-red);
}
.section-header-access{
    background-color: goldenrod;
}
.section-header-descr{
    background-color: black;
}
.part-header{
    font-weight: bold;
    padding: 3px;
    text-decoration: underline;
}
.section-cont{
    padding: 5px;
}
.checklist-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media print{
    #header-logo{
        page-break-inside: avoid; page-break-before: always;
    }
    .pagebreak {
        page-break-after: always;
    }
    @page{
        size: 8.5in 11in;
    }
    .section-header-sys{
        color:black;
        border-bottom: 0.25px solid black;
        border-top: 0.25px solid black;
        background-color: white;
    }
    .section-header-air{
        color:black;
        border-bottom: 0.25px solid black;
        border-top: 0.25px solid black;
        background-color: white;
    }
    .section-header-cool{
        color:black;
        border-bottom: 0.25px solid black;
        border-top: 0.25px solid black;
        background-color: white;
    }
    .section-header-heat{
        color:black;
        border-bottom: 0.25px solid black;
        border-top: 0.25px solid black;
        background-color: white;
    }
    .section-header-access{
        color:black;
        border-bottom: 0.25px solid black;
        border-top: 0.25px solid black;
        background-color: white;
    }
    .section-header-descr {
        color:black;
        background-color: white;
        border-bottom: 0.25px solid black;
        border-top: 0.25px solid black;
    }
    .part-header{
        font-weight: bold;
        padding: 1.5px;
    }
    .checklist-item{
        display: grid;
        grid-template-columns: 65% 30%;
    }
    .wo_desc {
        font-size: x-small;
    }
    /*
    *Can use below to add top/bottom borders to repair cutoff, however cutff number changes depending on height of repair item
    */
    /*#wo-present-system-summary>div>.wo-present-system-repairs>:nth-child(22) {
        page-break-after: avoid;
        border-bottom: 3px double black;
    }
    #wo-present-system-summary>div>.wo-present-system-repairs>:nth-child(23) {
        page-break-before: always;
        border-top: 3px double black;
    }*/
}