.client-grid{
  display: grid;
  grid-template-columns: repeat(10, minmax(25px,1fr));
  margin-bottom: 5px;
  padding: 10px;
  background-color: var(--back-color);
  border-radius: 10px;
  filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.5));
  place-items: center center;
}
#call-header{
  grid-column: 2 / 11;
  font-size: 1.25em;
  font-style: oblique;
  font-weight: bold;
  place-self: center end;
  text-align: right;
}
#home-link{
  grid-column: -1;
  margin:10px;
}
#header-logo{
  width: 250px;
}
.client-icon{
  margin:5px;
}
/* Video Stuff */
#video-wrapper{
  position: relative;
  padding-bottom: 56.25%;
  left: calc(12.5% - 2px);
  height: 0;
  margin-bottom: 5px;
}
#video-screen{
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  border-radius: 10px;
  border: 2px solid black;
}
#video-gallery-buttons{
    grid-column: 1 / span all;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}
#video-gallery-buttons>div:hover{
  background-color: var(--vogel-blue);
  color: white;
}
#video-gallery-buttons>div:hover>a{
  color: white;
}
/*Curves for hovers on video buttons*/
#video-gallery-buttons div:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#video-gallery-buttons div:nth-child(2){
  border-bottom-left-radius: 5px;
}
#video-gallery-buttons div:last-child{
  border-right:0px;
  border-bottom-right-radius: 5px;
}
.video-button{
  border-top:1px solid black;
  border-right:1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  font-size: small;
  text-align: center;
}
.video-button-selected{
  background-color: var(--vogel-red);
  color: white;
}
#video-john{
  grid-column: 1 / span all;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  text-align: center;
}
#review-cont{
  position: fixed;
  bottom: 0;
  right: 10px;
  left: 10px;
}
#review-tag{
  grid-column: 1 / span all;
  padding-top: 5px;
  font-size: 1.2em;
  font-weight: bold;
}
.review-icon{
  margin:10px 0px;
}

/*Landscape customizations.*/
@media only screen and (min-width: 768px) {
  #call-header {
    font-size: 1.5em;
  }
  .video-button {
    font-size: medium;
  }

  #video-wrapper{
    left: calc(25% - 2px);
  }
  #video-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    border: 2px solid black;
  }
}